<div class="container">
    <div class="row">
        <h1>Add Experience To Your Profile</h1>
    </div>
    <div class="row">
        <div>
            <div>
                <span>Experience Name</span>
            </div>
            <div>
                <input ng-model="experienceToAddName" type="text" />
            </div>

        </div>
        <div>
            <div>
                <span>Years of Experience:</span>
            </div>
            <div>
                <input ng-model="experienceToAddYearsExperience" type="number" />
            </div>
        </div>
        <div>
            <div>
                <span>Experience Description:</span>
            </div>
            <div>
                <input ng-model="experienceToAddDescription" type="text" />
            </div>
        </div>
        <div>
            <button class="btn" ng-click="addExperience()">Add Experience</button>
        </div>
    </div>
    
</div>