<div class="container">
    <div class="row">
        <h1>Add Experience To Your Profile</h1>
    </div>
    <div class="row">
        <div>
            <span>Experience Name:</span><input ng-model="experienceEdit.Name" type="text" />
        </div>
        <div>
            <span>Years of Experience:</span><input ng-model="experienceEdit.YearsExperience" type="number" />
        </div>
        <div>
            <span>Experience Description:</span><input ng-model="experienceEdit.Description" type="text" />
        </div>
    </div>
    <div>
        <button class="btn" ng-click="saveEditExperience()">Add Experience</button>
    </div>
</div>