<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <!-- Angular CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

    <!-- Angular UI Router CDN -->
    <script src="https://unpkg.com/angular-ui-router/release/angular-ui-router.min.js"></script>

    <!-- Angular Messages -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-messages.js"></script>

    <!-- jQuery CDN  -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Bootstrap CDN -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Style Sheet -->
    <link href="Styles/styles.css" rel="stylesheet" />

</head>
<body ng-app="lrnitApp">

    <!-- Navbar -->
    <nav class="navbar navbar-default" ng-controller="navController">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img style="margin-top: -10px" width="35" height="39" src="images/logoSmall.png" /></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right mainNav">
                    <!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
                    <li><a class="navLink" style="cursor: pointer" onclick="openNav()">Search For Experts</a></li>
                    <li ng-show="!lrnItService.loggedInNav"><a class="navLink" ui-sref="login">Login</a></li>
                    <li ng-show="!lrnItService.loggedInNav"><a class="navLink" ui-sref="signUp">Sign Up</a></li>
                    <li ng-if="lrnItService.loggedInNav"><a class="navLink" style="cursor: pointer" ng-click="viewSignedInProfile()">Profile</a></li>
                   
                    <li ng-if="lrnItService.loggedInNav"><a class="navLink" ui-sref="viewConversations">Your Conversations</a></li>
                    <li ng-if="lrnItService.loggedInNav"><a class="navLink" style="cursor: pointer" ng-click="signOut()">Sign Out</a></li>
                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <!-- End Nav Bar -->

    <div class="uiViewDiv">
        <ui-view>  </ui-view>
    </div>

  

    <div id="mySidenav" class="sidenav"  ng-controller="navController">

        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="row" ng-repeat="category in lrnItService.categories">
            <div><a ng-click="goToUsersInTopic('?CategoryId=',category.Id, category.Name)" class="categorySideBar">{{category.Name}}</a></div>
            <div ng-repeat="tag in category.Tags"><a ng-click="goToUsersInTopic('?TagId=',tag.Id, tag.Name)"class="tagSidebar">{{tag.Name}}</a></div>
        </div>
        
    </div>

  


    <script src="../Scripts/app/app.js"></script>
    <script src="Scripts/userController.js"></script>
    <script src="Scripts/categoryController.js"></script>
    <script src="Scripts/navController.js"></script>
    <script src="Scripts/Services/lrnItService.js"></script>
    <script src="Scripts/conversationController.js"></script>
    <script>/* Set the width of the side navigation to 250px */
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        /* Set the width of the side navigation to 0 */
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
   
</body>
</html>
