<div class="container text-center pageView">
    <div class="row">
        <div>
            <span>Sending Message To {{userToMessage.Fname}} {{userToMessage.Lname}}</span>
        </div>
        <div>
            <span>Subject</span>
        </div>
        <div>
            <input type="text" ng-model="convoSubject" />
        </div>
        <div>
            <span>Message Body</span>
        </div>
        <div >
            <textarea ng-model="convoMessage"></textarea>
        </div>
       
        <div>
            <button class="btn btn-primary" ng-click="sendMessage()">Send Message</button>
        </div>
    </div>
    
</div>