@{
    Layout = null;
}
    <h2>Message</h2>
        <div class="form-horizontal">
            <ul id="validationSummary"></ul>
            Are you sure that you want to delete {{Message}}?
            <div class="form-group">
                <label for="Text" class = "control-label col-md-2">
                Text
                </label>
                <div class="col-md-10">
                    {{data.Text}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="TimeSent" class = "control-label col-md-2">
                TimeSent
                </label>
                <div class="col-md-10">
                    {{data.TimeSent}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="IsRead" class = "control-label col-md-2">
                IsRead
                </label>
                <div class="col-md-10">
                    {{data.IsRead}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="Conversation" class = "control-label col-md-2">
                 Conversation
                </label>
                <div class="col-md-10">
                    {{data.Conversation_Subject}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="User" class = "control-label col-md-2">
                 User
                </label>
                <div class="col-md-10">
                    {{data.User_Fname}}
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" ng-click="save()" />
                </div>
            </div>
        </div>
    
    <div>
        <a href="#/Message">Back to List</a>
    </div>
