@{
    Layout = null;
}
    <h2>Message Details Test</h2>
        <div class="form-horizontal">
            <ul id="validationSummary"></ul>
            <div class="form-group">
                <label for="Text" class = "control-label col-md-2">
                Text
                </label>
                <div class="col-md-10">
                    {{data.Text}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="TimeSent" class = "control-label col-md-2">
                TimeSent
                </label>
                <div class="col-md-10">
                    {{data.TimeSent}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="IsRead" class = "control-label col-md-2">
                IsRead
                </label>
                <div class="col-md-10">
                    {{data.IsRead}}
                </div>
            </div>
    
            <div class="form-group">
                <label for="Conversation" class = "control-label col-md-2">
                 Conversation
                </label>
                <div class="col-md-10">
                    <a ng-href="#Conversation/{{Conversation }}" >
                    {{data.Conversation_Subject}}
                    </a>
                </div>
            </div>
    
            <div class="form-group">
                <label for="User" class = "control-label col-md-2">
                 User
                </label>
                <div class="col-md-10">
                    <a ng-href="#User/{{User }}" >
                    {{data.User_Fname}}
                    </a>
                </div>
            </div>
    
           
        </div>
    
    <div>
        <a href="#/Message">Back to List</a>
    </div>
